<h2>Настройка Яндекс Метрики</h2>

<form method="POST">
<p>
    <label for="YANDEX_METRIKA_CODE">Укажите код счетчика:</label>
    <textarea rows="20" name="YANDEX_METRIKA_CODE" id="YANDEX_METRIKA_CODE">{$YANDEX_METRIKA_CODE}</textarea></p>
<p>    
<p>
    <label for="YANDEX_METRIKA_CODE_ORDERCONFIRM">Укажите код счетчика для страницы завершения заказа:</label>
    <textarea rows="20" name="YANDEX_METRIKA_CODE_ORDERCONFIRM" id="YANDEX_METRIKA_CODE_ORDERCONFIRM">{$YANDEX_METRIKA_CODE_ORDERCONFIRM}</textarea></p>
<p>     
    <input type="submit" value="Сохранить" /></p>
</form>